name: Build
on:
  workflow_dispatch:
  push:


jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'Bump version')"
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup ENV
        run: echo "VERSION=$(date '+%Y.%-m.%-d')-main" >> $GITHUB_ENV
      - name: Package Server
        run: |
          ls -lh
          echo hi
          cd ..
          ls -lh
          pwd
